<h1>Survey Section</h1>

        <div>    
            <p><%= data["id"]; %></p>
            <p><%= data["introductionMessage"]; %></p>
            <p><%= data["questionIds"]; %></p>
            <p><%= data["heading"]; %></p>
        </div>


<a href="/surveySections/<%= data["id"]; %>/edit">Edit</a> | <a href="/surveySections/<%= data["id"]; %>/delete">Delete</a>
<br><br>

<a href="/surveySections">&laquo back</a>
